.choice-box {
    -fx-background-color: transparent; /* Fundal alb */
    -fx-border-color: #cccccc; /* Bordură gri */
    -fx-border-width: 1; /* Lățimea bordurii */
    -fx-border-radius: 8; /* Colturi rotunjite */
    -fx-padding: 4 8; /* Padding pentru text */
    -fx-text-fill: rgba(23, 23, 234, 0.83); /* Culoarea textului */
    -fx-font-weight: bold;
}

.choice-box .cell {
    -fx-padding: 4 8; /* Padding similar pentru opțiuni */
}
/* combo-box list view text, not hovered or focused */
.choice-box .label {
    -fx-text-fill: #e5b2b2;
}
.choice-box:hover {
    -fx-border-color: #007bff; /* Schimbă culoarea bordurii la hover */
}

.choice-box:focused {
    -fx-border-color: #007bff; /* Schimbă culoarea bordurii când este focusat */
}
