#earthPanel {
    -fx-background-color: transparent; /* Sau orice culoare dorești */
    -fx-background-radius: 15;   /* Ajustează raza colțurilor după preferințe */
    -fx-border-radius: 15;       /* Ajustează raza colțurilor bordurii după preferințe */
    -fx-border-color: black;     /* Sau orice culoare dorești pentru bordură */
    -fx-border-width: 2;         /* Lățimea bordurii */
}
.main-panel {
    -fx-background-color: transparent;
    -fx-background-insets: 0;

    /* Fundal */
    -fx-background-image: url('/img/wallpaper8.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;

    /* Shadow */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 5);
}

.v-box {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-insets: 5;
    -fx-border-color: rgba(98, 98, 98, 0.33);

    -fx-background-color: transparent;
    -fx-background-image: url('/img/wallpaperBlur.png');
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 5);
}
.transparent-background {
    /* Pentru fundal */
    -fx-background-color: transparent;
}
