.button {
    -fx-background-color: transparent;
    -fx-padding: 12px 24px;
    -fx-border-color: #4f4f4f;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-font-size: 19px;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-position: relative;
    -fx-effect: null;
    -fx-transition: all 0.2s ease-in;
}

.button:hover {
    -fx-text-fill: #ffffff;
    -fx-border-color: #39bda7;
}

#buttonBackground {
    -fx-background-color: rgba(0, 0, 0, 0.05);
    -fx-border-radius: 50%;
    -fx-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

#buttonBackgroundHovered {
    -fx-background-color: #39bda7;
}
