#mainPanel {
    -fx-background-image: url('https://i.pinimg.com/originals/99/16/40/991640b7f51410df94fb7c5450411bb7.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
.text-area .text {
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 17;
}

#titleLabel {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 3, 0, 0, 2 );
}

#contentLabel {
    -fx-font-size: 18;
    -fx-text-fill: #ecf0f1;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 3, 0, 0, 2 );
}

#submitButton {
    -fx-text-fill: black;
    -fx-font-size: 12;
    -fx-padding: 15 30;
    -fx-border-radius: 5;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 3, 0, 0, 2 );
}

#submitButton:hover {
    -fx-background-color: #27ae60;
}

#submitButton:pressed {
    -fx-background-color: #219d54;
}
.progress-bar .track {
    -fx-background-color: red; /* Culoarea fundalului barei de progres */
}
.modern-border {
    -fx-background-color: #ffffff; " + // culoarea fundalului
    -fx-border-color: #4d4d4d; " + // culoarea bordurii
    -fx-border-width: 2; " + // grosimea bordurii
    -fx-border-radius: 5; " + // raza colțurilor
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);"); // umbra
}